<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><?=$this->get('data.title')?></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <style>.main {width: 100%;max-width: 900px;margin: 0 auto;}.main .container {padding: 12px;}</style>
</head>

<body>
    <div class="main">
        <div class="container">
            <?=$this->get('data.content')?>
        </div>
    </div>
</body>

</html>