<?php $this->layout('page'); ?>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" method="post" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" value="<?=$this->get('userInfo.username')?>" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldpwd" lay-verify="required|password" lay-verType="tips"
                        lay-reqText="请旧输入旧密码" lay-affix="eye" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" lay-verify="required|password" lay-verType="tips"
                        id="consistent_value" lay-reqText="请输入密码" lay-affix="eye" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="repassword" lay-verify="required|consistent" lay-verType="tips"
                        lay-reqText="请输入确认密码" lay-affix="eye" class="layui-input">
                </div>
            </div>
            <!-- 操作按钮 -->
            <div class="layui-form-item layer-footer hidden">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm m-btn-success" lay-submit lay-filter="submit">确认提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<?php $this->block('js'); ?>
<script>
    layui.use(['mForm'], function () {
        const mForm = layui.mForm
        // 渲染表单
        mForm.render()
        mForm.submit('submit')
    })
</script>
<?php $this->blockEnd(); ?>