<?php $this->layout('page'); ?>

<div class="layui-card page-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" method="post">
            <input type="hidden" name="idx" value="<?=$data['id']?>">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" value="<?= $data['username']; ?>" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">过期时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="deadline" placeholder="不填则表示不过期" class="layui-input date"
                        value="<?= $data['deadline'] ? date('Y-m-d', $data['deadline']) : '';?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">私信</label>
                <div class="layui-input-block">
                    <div style="position: relative; top:2px">
                        <?=$this->build_checkbox('receiver', '1', '接收私信', $data['receiver'] == 1)?>
                        <?=$this->build_checkbox('sender', '1', '发送私信', $data['sender'] == 1)?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layer-footer hidden">
                <div class="layui-input-block text-left">
                    <button class="layui-btn layui-btn-sm layui-btn-success" lay-submit
                        lay-filter="submit">确认提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>


<?php $this->block('js'); ?>
<script>
    layui.use(['mForm'], function () {
        const mForm = layui.mForm
        // 渲染表单
        mForm.render()
        mForm.submit('submit', null, null, (data) => {
            let field = data.field
            return { receiver: 0, sender: 0, ...field }
        })
    })
</script>
<?php $this->blockEnd(); ?>