<?php $this->layout('page'); ?>

<!-- 搜索 -->
<div class="search-panel" id="search-form">
    <form class="layui-form" lay-filter="search">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" placeholder="搜索用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <?=$this->build_select('status', $status, [], [], true, true)?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录时间：</label>
            <div class="layui-input-block">
                <input type="text" name="login_time" placeholder="搜索登录时间" class="layui-input date-range">
            </div>
        </div>
    </form>
</div>

<div class="layui-card">
    <div class="layui-card-body m-card-body">
        <!-- 表格 -->
        <table id="table" lay-filter="table"></table>
    </div>
</div>

<!-- 表格操作栏 -->
<script type="text/html" id="toolbar">
    <?= $this->build_toolbar('/sys/admin', $uid, ['add', 'search', 'reset']); ?>
</script>

<!-- 操作 -->
<script type="text/html" id="operate">
    <div class="oper-btns">
    <!-- {{# if(!supper_admin.includes(d.id + '')){ }} -->
        <?php if($this->checkAuth('/sys/admin/password', $uid)): ?>
        <button type="button" class="layui-btn layui-btn-xs" lay-event="dialog" data-title="重置密码" data-url="<?=$this->url('/sys/admin/password')?>">重置密码</button>
        <?php endif; ?>
        <?php if($this->checkAuth('/sys/admin/edit', $uid)): ?>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改信息</button>
        <?php endif; ?>
        <?php if($this->checkAuth('/sys/admin/toggle', $uid)): ?>
        <!-- {{# if(d.status == '1'){ }} -->
        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" data-idx="{{ d.id }}" data-url="<?=$this->url('/sys/admin/toggle')?>" data-title="确认禁用该用户么？" data-status="0" lay-event="confirm">禁用用户</button>
        <!-- {{# }else{ }} -->
        <button type="button" class="layui-btn layui-btn-warm layui-btn-xs" data-idx="{{ d.id }}" data-url="<?=$this->url('/sys/admin/toggle')?>" data-title="确认恢复该用户么？" data-status="1" lay-event="confirm">恢复用户</button>
        <!-- {{# } }} -->
        <?php endif; ?>
    <!-- {{# } }} -->
    </div>
</script>

<?php $this->block('js'); ?>
<script>
    const supper_admin = "<?=$admin?>".split(',')
    layui.use(['mTable', 'mForm', 'common'], function () {
        const mTable = layui.mTable
        const mForm = layui.mForm
        const common = layui.common

        // 渲染搜索表单
        mForm.render()
        // 渲染表格
        mTable.render({
            elem: '#table',
            url: "<?=$this->url('/sys/admin')?>?isApi=1",
            cols: [[
                { field: 'id', title: 'ID', width: 80, align: 'center' },
                { field: 'username', title: '用户名', minWidth: 120 },
                { field: 'avatar', title: '头像', width: 80, align: 'center', templet: function (d) { return mTable.format.avatar(d.avatar) } },
                { field: 'status', title: '状态', width: 100, align: 'center', templet: function (d) { return mTable.format.status(d.status) } },
                { field: 'login_ip', title: '登录IP', width: 140, align: 'center' },
                { field: 'login_time', title: '最后登录时间', width: 168, align: 'center', templet: function (d) { return d.login_time ? mTable.format.dateTime(d.login_time) : ''; }, sort: true },
                { field: 'deadline', title: '过期时间', width: 100, align: 'center', templet: function (d) { return mTable.format.date(d.deadline) }, sort: true },
                { field: 'create_time', title: '创建时间', width: 168, align: 'center', templet: function (d) { return mTable.format.dateTime(d.create_time) }, sort: true },
                { field: 'operate', title: '操作', templet: '#operate', minWidth: 250 }
            ]]
        })
        // 绑定表格事件
        mTable.bindEvent('table', {
            // toolbar事件
            toolbar: {
                // 新增
                add: {
                    url: "<?=$this->url('/sys/admin/add')?>",
                    title: '新增管理员',
                    dialog: true
                },
                // 搜索
                search: function (data) {
                    if (data.login_time) {
                        let iLogin_time = data.login_time.split(' - ')
                        data.login_start_time = common.strtotime(iLogin_time[0] + ' 00:00:00')
                        data.login_end_time = common.strtotime(iLogin_time[1] + ' 23:59:59')
                    }

                    return data
                },
            },
            // tool事件
            tool: {
                // 编辑
                edit: {
                    url: "<?=$this->url('/sys/admin/edit')?>",
                    title: '编辑管理员信息',
                    dialog: true
                }
            },
            sort: (data) => {
                if (data.login_time) {
                    let iLogin_time = data.login_time.split(' - ')
                    data.login_start_time = common.strtotime(iLogin_time[0] + ' 00:00:00')
                    data.login_end_time = common.strtotime(iLogin_time[1] + ' 23:59:59')
                }

                return data
            }
        })
    })
</script>
<?php $this->blockEnd(); ?>