<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><?=$this->get('web.title', 'Gaia Admin')?></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<script>
		if (self != top) { parent.window.location.replace(window.location.href); }
	</script>
	<!-- 依 赖 样 式 -->
	<link rel="stylesheet" href="<?=$this->assets('static/component/mon/mon.css')?>" />
	<!-- 加 载 样 式 -->
	<link rel="stylesheet" href="<?=$this->assets('static/css/loader.css')?>" />
	<!-- 布 局 样 式 -->
	<link rel="stylesheet" href="<?=$this->assets('static/css/admin.css')?>" />
</head>
<!-- 结 构 代 码 -->

<body class="layui-layout-body pear-admin">
	<!-- 布 局 框 架 -->
	<div class="layui-layout layui-layout-admin">
		<!-- 顶 部 样 式 -->
		<div class="layui-header">
			<!-- 菜 单 顶 部 -->
			<div class="layui-logo">
				<!-- logo返回控制台 -->
				<a href="javascript:void(0)" user-menu-id="<?=$this->get('index', 'console')?>">
					<!-- 图 标 -->
					<img class="logo" src="<?=$this->get('web.logo', '/static/img/logo.png')?>">
					<!-- 标 题 -->
					<span class="title"><?=$this->get('web.title', 'Gaia Admin')?></span>
				</a>
			</div>
			<!-- 顶 部 左 侧 功 能 -->
			<ul class="layui-nav layui-layout-left">
				<li class="collapse layui-nav-item">
					<a href="#" class="layui-icon layui-icon-shrink-right"></a>
				</li>
				<li class="refresh layui-nav-item">
					<a href="#" class="layui-icon layui-icon-refresh-1" loading="600"></a>
				</li>
			</ul>
			<!-- 多 系 统 菜 单 -->
			<div id="control" class="layui-layout-control"></div>
			<!-- 顶 部 右 侧 菜 单 -->
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item layui-hide-xs">
					<a href="#" class="menuSearch layui-icon layui-icon-search"></a>
				</li>
				<li class="layui-nav-item layui-hide-xs">
					<a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a>
				</li>
				<li class="layui-nav-item layui-hide-xs">
					<a href="#" class="notice layui-icon layui-icon-notice" user-menu-id="notice" user-menu-title="消息通知"
						user-menu-url="<?=$this->url('/msg')?>">
						<span class="layui-badge-dot hidden" id="notice-dot"></span>
					</a>
				</li>
				<li class="layui-nav-item user">
					<!-- 头 像 -->
					<a class="layui-icon layui-icon-username" href="javascript:;"></a>
					<!-- 功 能 菜 单 -->
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:void(0);" user-menu-url="<?=$this->url('/profile')?>"
								user-menu-id="profile" user-menu-title="个人设置">个人设置</a>
						</dd>
						<dd><a href="javascript:void(0);" class="logout">注销登录</a></dd>
					</dl>
				</li>
				<!-- 主 题 配 置 -->
				<li class="layui-nav-item setting"><a href="#" class="layui-icon layui-icon-more-vertical"></a></li>
			</ul>
		</div>
		<!-- 侧 边 区 域 -->
		<div class="layui-side layui-bg-black">
			<!-- 菜 单 顶 部 -->
			<div class="layui-logo">
				<!-- logo返回控制台 -->
				<a href="javascript:void(0)" user-menu-id="<?=$this->get('index', 'console')?>">
					<!-- 图 标 -->
					<img class="logo" src="<?=$this->get('web.logo', '/static/img/logo.png')?>">
					<!-- 标 题 -->
					<span class="title"><?=$this->get('web.title', 'Gaia Admin')?></span>
				</a>
			</div>
			<!-- 菜 单 内 容 -->
			<div class="layui-side-scroll">
				<div id="sideMenu"></div>
			</div>
		</div>
		<!-- 视 图 页 面 -->
		<div class="layui-body">
			<!-- 内 容 页 面 -->
			<div id="content"></div>
		</div>
		<!-- 页脚 -->
		<div class="layui-footer layui-text">
			<span class="left"></span>
			<span class="center"></span>
			<span class="right">
				<?=$this->get('web.copr')?>
			</span>
		</div>
		<!-- 遮 盖 层 -->
		<div class="pear-cover"></div>
		<!-- 加 载 动 画 -->
		<div class="loader-main">
			<!-- 动 画 对 象 -->
			<div class="loader"></div>
		</div>
	</div>
	<!-- 移 动 端 便 捷 操 作 -->
	<div class="pear-collapsed-pe collapse">
		<a href="#" class="layui-icon layui-icon-shrink-right"></a>
	</div>

	<!-- 依 赖 脚 本 -->
	<script src="<?=$this->assets('static/component/layui/layui.js')?>"></script>
	<script src="<?=$this->assets('static/component/mon/mon.js')?>"></script>
	<!-- 框 架 初 始 化 -->
	<script>
		layui.use(['admin', 'http', 'token'], async function () {
			const admin = layui.admin
			const http = layui.http
			const token = layui.token
			// 加载配置
			const config = await http.ajax({
				url: '<?=$this->url("/index")?>' + '?isApi=1&v=' + Math.random(),
				loading: false,
			})
			// 保存配置
			sessionStorage.setItem('adminConfig', JSON.stringify(config));
			// 渲染管理端
			await admin.render(config);

			// 登出逻辑 
			admin.logout(function () {
				layer.confirm('确认注销登录么？', { icon: 3, title: 'Tips' }, async function (index) {
					token.clearToken()
					// 关闭弹窗
					layer.close(index)
					// 打开loading，防止误触
					layer.load(1);
					// 页面跳转
					window.location.href = '<?=$this->url("/login")?>';
				})
			})

			// 拉取站内信
			async function pull() {
				try {
					const ret = await http.ajax({
						url: "<?=$this->url('/msg/pull')?>",
						method: 'post',
						loading: false
					})
					if (ret.code == '1') {
						if (ret.data.isDot) {
							document.querySelector('#notice-dot').classList.remove('hidden')
						} else {
							document.querySelector('#notice-dot').classList.add('hidden')
						}

						if (ret.data.isNew) {
							toast.info('收到有新消息，请注意查收', { title: '新消息通知' })
						}
					}
				} catch (e) {
					console.error(e)
				}
			}
			// 进入页面后延后5秒拉取
			setTimeout(pull, 1000 * 5)
			// 轮询拉取
			setInterval(pull, 1000 * 60)
		})
	</script>
</body>

</html>