<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><?= $this->get('page_title') ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" href="<?=$this->assets('static/component/mon/mon.css') ?>" />
    <?php $this->putBlock('css'); ?>
</head>

<body class="pear-container">

    <?php $this->content(); ?>

    <!-- 依 赖 脚 本 -->
    <script src="<?=$this->assets('static/component/layui/layui.js') ?>"></script>
    <script src="<?=$this->assets('static/component/mon/mon.js') ?>"></script>
    <?php $this->putBlock('js'); ?>
</body>

</html>